In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
import re

data = pd.read_csv('Final_data_set.csv')
data.head()

,Unnamed: 0,X2010.01.31,X2010.02.28,X2010.03.31,X2010.04.30,X2010.05.31,X2010.06.30,X2010.07.31,X2010.08.31,X2010.09.30,...,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03
0,0,1360248.0,1371500.0,1367034.0,1361617.0,1355836.0,1359737.0,1350814.0,1352028.0,1355050.0,...,2903.0,2860.0,2813.0,2767.0,2720.0,2671.0,2622.0,2573.0,2524.0,2474.0
1,1,398115.0,396063.0,395565.0,397041.0,400088.0,398494.0,398359.0,396367.0,395630.0,...,1797.0,1800.0,1804.0,1807.0,1811.0,1814.0,1818.0,1821.0,1825.0,1829.0
2,2,316435.0,314690.0,310917.0,307476.0,305356.0,301895.0,298806.0,293130.0,292972.0,...,2303.0,2312.0,2321.0,2330.0,2340.0,2349.0,2358.0,2367.0,2377.0,2386.0
3,3,605970.0,605225.0,605009.0,606406.0,613634.0,612335.0,607943.0,598985.0,588396.0,...,2497.0,2493.0,2489.0,2485.0,2481.0,2477.0,2473.0,2468.0,2464.0,2460.0
4,4,496872.0,498563.0,500502.0,502803.0,507965.0,508603.0,507297.0,503664.0,502299.0,...,2329.0,2327.0,2325.0,2323.0,2321.0,2320.0,2318.0,2316.0,2314.0,2312.0

In [2]:
print(data.School_ranking.max())
print(data.School_ranking.min())

5.0
0.0

In [3]:
print(data.Latitude.max())
print(data.Latitude.min())

41.963883
32.556264

In [4]:
def query_function():
    #read in dataset
    data = pd.read_csv('Final_data_set.csv')
    data1 = data
    #sort based on user inputs
    density = int(input("How do you wish about the population density in your ideal housing location?\n(scale:0&1-5, 1 means you wish to have the house in the most populated city,0 means you don't care)\n"))
    if density == 0:
        data1 = data1
    else:
        data1 = data1[data1.label_density == density]
    
    crime = int(input("How do you wish about the crime rate in your ideal housing location?\n(scale:0&1-5, 5 means you wish to have the house in cities of lowest crime rate,0 means you don't care)\n"))
    if density == 0:
        data1 = data1
    else:
        data1 = data1[data1.crime_rate == crime]
    
    edu = int(input("Do you wish to have great public high schools your ideal housing location?\n(scale:0&1-5, 1 means you wish to have the greatest public education in the housing area,0 means you don't care)\n"))
    if density == 0:
        data1 = data1
    else:
        data1 = data1[data1.crime_rate <= edu]
    
    lat = int(input("Where do you wish to have your ideal housing location?\n(1: Northern California, 2: Southern California)\n"))
    separation_lat = 35 # THIS IS THE LATITUDE THAT SEPERATES CALIFORNIA INTO NORTH AND SOUTH
    if lat == 1:
        data1 = data1[data1.Latitude >= separation_lat]
    if lat == 2:
        data1 = data1[data1.Latitude <= separation_lat]
    
    print("What are your budgets for your ideal housing?")
    max1 = int(input("Maximum total amount you are willing to pay in dollars:"))
    min1 = int(input("Minimum total amount you are willing to pay in dollars:"))
    data1 = data1[data1['X2021.03.31'] <= max1]
    data1 = data1[data1['X2021.03.31'] >= min1]
    
    #only return the necessary info for users
    data1 = data1[['County','Zip','City_x','Population_density','Crime_rate_Per1000',
                  'Latitude','Longitude','X2021.03.31']]
    
    return data1

In [5]:
query_function()

How do you wish about the population density in your ideal housing location?
(scale:0&1-5, 1 means you wish to have the house in the most populated city,0 means you don't care)
0
How do you wish about the crime rate in your ideal housing location?
(scale:0&1-5, 5 means you wish to have the house in cities of lowest crime rate,0 means you don't care)
0
Do you wish to have great public high schools your ideal housing location?
(scale:0&1-5, 1 means you wish to have the greatest public education in the housing area,0 means you don't care)
0
Where do you wish to have your ideal housing location?
(1: Northern California, 2: Southern California)
2
What are your budgets for your ideal housing?
Maximum total amount you are willing to pay in dollars:100000000000000
Minimum total amount you are willing to pay in dollars:100

,County,Zip,City_x,Population_density,Crime_rate_Per1000,Latitude,Longitude,X2021.03.31
1,Los Angeles County,90250,Hawthorne,14252.6,29.86,33.914614,-118.35092,768925
3,Los Angeles County,90046,Los Angeles,8335.9,21.28,34.098908,-118.36241,1985115
6,Los Angeles County,90034,Los Angeles,8335.9,21.28,34.030560,-118.39804,1595520
8,Los Angeles County,90805,Long Beach,9366.1,26.40,33.865916,-118.18362,563341
9,Los Angeles County,90650,Norwalk,11004.0,18.73,33.906914,-118.08339,575685
...,...,...,...,...,...,...,...,...
1605,San Diego County,91931,Descanso,NaN,NaN,32.852086,-116.55559,454236
1608,San Diego County,91948,Mount Laguna,NaN,NaN,32.875267,-116.42826,221338
1640,San Bernardino County,92318,Loma Linda,3166.3,28.95,34.048544,-117.23274,390932
1649,Los Angeles County,93563,Valyermo,NaN,NaN,34.394253,-117.69475,297343
1668,Santa Barbara County,93429,Casmalia,NaN,NaN,34.842293,-120.53180,367921